utils/__pycache__/gpt.cpython-311.pyc
utils/bot/__pycache__/functions.cpython-311.pyc
utils/bot/__pycache__/grammar_exrc.cpython-311.pyc
utils/bot/__pycache__/handlers.cpython-311.pyc
utils/bot/__pycache__/level_test.cpython-311.pyc
utils/database/__pycache__/data.cpython-311.pyc
